version: v1alpha1
debug: false
persist: true
machine:
  type: worker
  token: qt315g.8f9e1kb2r4p79efs
  ca:
    crt: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJQakNCOGFBREFnRUNBaEJ2TFQ0dzN2cnp1NE50UUUrcDZGeVhNQVVHQXl0bGNEQVFNUTR3REFZRFZRUUsKRXdWMFlXeHZjekFlRncweU5UQTJNekF5TXpBeE1UZGFGdzB6TlRBMk1qZ3lNekF4TVRkYU1CQXhEakFNQmdOVgpCQW9UQlhSaGJHOXpNQ293QlFZREsyVndBeUVBckNVc2YxeGZxenhwWnpFSFRsQXVCSllLSTh5UVpnS0RwZEJyCkFPY1JRZ2lqWVRCZk1BNEdBMVVkRHdFQi93UUVBd0lDaERBZEJnTlZIU1VFRmpBVUJnZ3JCZ0VGQlFjREFRWUkKS3dZQkJRVUhBd0l3RHdZRFZSMFRBUUgvQkFVd0F3RUIvekFkQmdOVkhRNEVGZ1FVa1pBa2xPcVM2YnNmYjROdAo3ekNJTUR5cXVETXdCUVlESzJWd0EwRUFlbXJHVlpDa3RKeXRpdmJZNjV1TFJDODVFUThpbFpsOVd0WHpldjM3CmdjR1lpVkFzT1pDdzRXV21GMld6SWgrOVlGT1F3ZEZJblRSOFJIak93RHZIQ3c9PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
    key: ""
  certSANs: []
  kubelet:
    image: ghcr.io/siderolabs/kubelet:v1.33.1
    defaultRuntimeSeccompProfileEnabled: true
    disableManifestsDirectory: true
    nodeIP:
      validSubnets:
        - 192.168.1.0/24
  network:
    interfaces:
      - interface: enp4s0
        dhcp: true
  install:
    disk: /dev/nvme0n1
    image: ghcr.io/siderolabs/installer:v1.10.4
    wipe: true
    extraKernelArgs:
      - talos.install.disk=/dev/nvme0n1
  features:
    rbac: true
    stableHostname: true
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    kubePrism:
      enabled: true
      port: 7445
    hostDNS:
      enabled: true
      forwardKubeDNSToHost: true
cluster:
  id: wcWr92csTh7HmKPHHX1rKIQn2mHHS7dHYNXdAUZ5NXY=
  secret: UPKt0QVDtJGdy3SVFCfGVJ6NV5/dSHCL9SFx1VweX7k=
  controlPlane:
    endpoint: https://192.168.1.77:6443
  clusterName: simple-cluster
  network:
    dnsDomain: cluster.local
    podSubnets:
      - 10.244.0.0/16
    serviceSubnets:
      - 10.96.0.0/12
    # cni: {}  # Let cluster decide CNI
  token: 9c3zc1.fj82jlf3xfqwz8kf
  ca:
    crt: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJpakNDQVRDZ0F3SUJBZ0lSQU1PQnFOeTV2V1FWN20vK2pBSHh0amd3Q2dZSUtvWkl6ajBFQXdJd0ZURVQKTUJFR0ExVUVDaE1LYTNWaVpYSnVaWFJsY3pBZUZ3MHlOVEEyTXpBeU16QXhNVGRhRncwek5UQTJNamd5TXpBeApNVGRhTUJVeEV6QVJCZ05WQkFvVENtdDFZbVZ5Ym1WMFpYTXdXVEFUQmdjcWhrak9QUUlCQmdncWhrak9QUU1CCkJ3TkNBQVFmTGJ2S25LUEZWb1lMRFduM1phY2ZidGhzU1JxRGJvVDgrY1YrdEFWTUs5L1lNSUNlQStaMUxERVkKVVJUK092enB0RWtQWVpiendCM0NxY09KQ3Z1cW8yRXdYekFPQmdOVkhROEJBZjhFQkFNQ0FvUXdIUVlEVlIwbApCQll3RkFZSUt3WUJCUVVIQXdFR0NDc0dBUVVGQndNQ01BOEdBMVVkRXdFQi93UUZNQU1CQWY4d0hRWURWUjBPCkJCWUVGSHgzNitwNkpzNEN6dEZUL25hVHdyQXFsSVVzTUFvR0NDcUdTTTQ5QkFNQ0EwZ0FNRVVDSUVnUUJUdjkKK0c4MmhYdHUzRHpUemdtN3RpblhLcXhzbzZNQnVFWTFDeGdRQWlFQXVlWHBaeWRnNi9QdEovaHlZbjNsQ0xpSAppbTVLMHBGS0RlQWtVaG5DQndrPQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
    key: ""
  discovery:
    enabled: true
    registries:
      kubernetes:
        disabled: true
      service: {}