apiVersion: v1
kind: Service
metadata:
  name: otel-collector-metrics
  namespace: telemetry
  labels:
    app.kubernetes.io/name: opentelemetry-collector
    app.kubernetes.io/instance: otel-collector
spec:
  type: ClusterIP
  ports:
    - name: prometheus
      port: 8889
      targetPort: 8889
      protocol: TCP
    - name: internal-metrics
      port: 8890
      targetPort: 8890
      protocol: TCP
  selector:
    app.kubernetes.io/name: opentelemetry-collector
    app.kubernetes.io/instance: otel-collector